[mysqld]
server-id = 20
port=3306
bind-address=192.168.99.145
character-set-server=utf8
default-storage-engine=InnoDB
datadir=/home/data
socket=/var/lib/mysql/mysql.sock
log_output=FILE
log_bin=/home/binlog/mysql
binlog_format=MIXED
max_binlog_size=10M
sync_binlog=0
symbolic-links=0
sql_mode=NO_ENGINE_SUBSTITUTION,STRICT_TRANS_TABLES 
[mysqld_safe]
log-error=/var/log/mysqld.log
pid-file=/var/run/mysqld/mysqld.pid
